* {
  margin: 0;
  font-family: "Rubik", sans-serif;
}
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.header-main {
  background-color: rgb(39, 39, 39);
  padding: 10px;
  text-align: justify;
  font-size: 13px;
  font-weight: bold;
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  background-color: white;
  padding: 32px;
  /* box-shadow: 0 5px 8px rgba(0, 0, 0, 0.103); */
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #f73a00;
}
.header-nav a {
  text-decoration: none;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
}

a[tabindex]:focus {
  color: #f73a00;
  outline: none;
}

.site-identity {
  float: left;
}

.site-identity img {
  max-width: 55px;
  float: left;
  margin: auto;
}

.inside-header {
  padding: 50px;
  font-size: 42px;
  font-weight: 900;
  text-align: center;
}
.khashayar-shomali-img {
  border-radius: 20px;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.footer-container {
  background-color: rgb(28, 28, 28);
  padding: 20px;
  color: white;
  font-weight: 400;
}
.footer-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
}
.footer-nav a {
  text-decoration: none;
  margin: 10px;
  font-size: 18px;
  /* font-weight: bold; */
  color: aliceblue;
}
.footer-nav-links a:hover {
  color: #f73a00;
}
.footer-message {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 18px; */
  /* font-weight: bold; */
  background-color: #2e2e2e;
  padding: 10px;
  color: white;
}
.copyright-text a {
  text-decoration: none;
  color: aliceblue;
}
.copyright-text a:hover {
  color: #f73a00;
}
#footer-p {
  font-size: 12px;
  padding-right: 10px;
}
.main-content {
  /* padding: 700px; */
  text-align: center;
  /* margin: 150px; */
  font-size: 28px;
  background-color: rgb(255, 255, 255);
}
.who-am-i-sentence {
  margin-top: 10px;
  padding-left: 250px;
  padding-right: 250px;
  font-size: 18px;
}
.Introduce {
  background-color: #fff0eb;
  padding: 150px;
  border-bottom: 1px solid #ccc;
}
.who-am-i {
  width: 150px;
  height: 150px;
  padding-bottom: 30px;
}
.my-skills {
  padding: 150px;
}
.my-skills-png {
  width: 150px;
  height: 150px;
  padding-bottom: 30px;
}
.my-skills-sentence-1 {
  font-size: 18px;
  margin-top: 20px;
}
.my-skills-sentence-2 {
  font-size: 18px;
  margin-top: 20px;
}
.my-skills-sentence-3 {
  font-size: 18px;
  margin-top: 20px;
}
.line {
  color: #f73a00;
}
.resume {
  background-color: #fff0eb;
  padding: 150px;
}
.resume button {
  background-color: #ff6a00;
  color: white;
  font-size: 18px;
  padding: 20px 40px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}
.resume button:hover {
  background-color: #f73a00;
  font-weight: bold;
}